@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background: #d8d5d2;
}

header {
  background-color: #333;
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 3em;
  z-index: 1000;
}

a {
  color: #eb1234;
  text-decoration: none;
}

h3 {
  font-weight: normal;
}

.logo {
  color: white;
}

.link-container {
  display: flex;
  align-items: center;
  right: 0;
  position: absolute;
  height: 100%;
}

.link-container * {
  margin-right: 1rem;
}

.header-link {
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  padding: 0.4rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.header-link-auth {
  text-align: center;
  text-decoration: none;
  padding: 0.4rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.header-link:hover {
  background-color: #ddd;
  color: black;
}

nav a:active {
  background-color: #eb1234;
  color: white;
}
.greeting {
  margin-top: 1rem;
  max-width: 420px;
  /* width: 30%; */
}

main {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  background: #d8d5d2;
}

.big-greeting {
  color: #eb1234;
  font-size: 3em;
}

.small-greeting {
  margin: 1em auto;
  font-size: 1em;
  line-height: 2em;
}

.btn {
  color: white;
  border: none;
  cursor: pointer;
}

.btn-sign-up {
  font-size: 2.5em;
  border-radius: 10px;
  padding: 0.2em;
  margin: 0.1em auto;
  background-color: #eb1234;
}

.btn-red {
  background-color: #eb1234;
}

.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}

.todo-container form {
  width: 100%;
}

.todo-title {
  display: flex;
  justify-content: center;
  color: #333;
  margin: 0;
  font-size: 3em;
  font-weight: bold;
}

.todo-list {
  width: 100%;
  overflow-wrap: break-word;
}

.todo-list li {
  width: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0.5em;
  font-size: 1.5em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.todo-item-btn {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.todo-input {
  width: 100%;
  padding: 0.2em;
  font-size: 1.5em;
  border: 2px solid #333;
  border-radius: 10px;
  outline: none;
}

.todo-item-text {
  padding: 0 0.3em;
  width: 9em;
}

.edit-form {
  padding: 0 0.3em;
  /* width: 9em; */
}

.edit-input-form {
  width: 100%;
  border-radius: 0;
  margin: 0;
}

.btn-edit-todo {
  border: 0;
  margin: auto 0.5em;
  padding: 0;
  background: teal;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.btn-delete-todo {
  border: 0;
  margin: auto 0.5em;
  padding: 0;
  background: #eb1234;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.login-link {
  text-decoration: none;
  color: #eb1234;
}

footer {
  display: flex;
  justify-content: center;
  color: white;
  background-color: #fff1aa50;
  bottom: 0;
  right: 0;
  width: 100%;
  /* height: 3em; */
  /* position: fixed; */
  padding: 0.5em;
  text-align: end;
  font-size: 0.75rem;
  font-weight: 500;
  background-color: #333;
}

/* login/register page */
.login-main {
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  max-width: 400px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2.4em 1em;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.form-title {
  margin: 0.3em;
}

.form-secondary-title {
  margin-bottom: 0.6em;
}
.form-inputs {
  display: flex;
  flex-direction: column;
}

form input {
  padding: 0.2em;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  border-radius: 10px;
  border: 0.5px solid #333;
}

.form-field {
  padding-left: 0.5em;
}
.form-submit {
  border-radius: 10px;
}
.form-notice-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.2em;
}

.form-notice-container * {
  margin-bottom: 0.4em;
  font-size: 1em;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.about-container {
  display: flex;
  flex-direction: column;
}
.about-title {
  /* width: 100vh; */
  margin: auto;
  margin-top: 1em;
  text-align: center;
}

.about-paragraph {
  margin: auto;
  margin-top: 1em;
  width: 500px;
  line-height: 2em;
}

@media screen and (max-width: 640px) {
  header {
    flex-direction: column;
    position: static;
    height: auto;
  }

  header nav {
    flex-direction: column;
  }

  .big-greeting {
    text-align: center;
  }

  nav a,
  nav div {
    padding: 0.5em;
  }

  .link-container {
    right: auto;
    position: static;
    margin-bottom: 0.5em;
    justify-content: center;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  .greeting {
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .login-main {
    height: auto;
    margin-top: 1em;
  }

  .todo-container {
    width: 100%;
    margin: auto;
    margin-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
  }

  .small-greeting {
    margin-bottom: 0;
  }
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.eye-indicator {
  position: absolute;
  top: 50%;
  right: 0.75rem;
  --tw-translate-x: 0;
  --tw-translate-y: -50%;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.eye {
  cursor: pointer;
  width: 1.2rem;
  height: 1.2rem;
  color: gray;
}

.icon {
  height: 2rem;
  width: 2rem;
}

.header-title {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.header-title * {
  margin-left: 0.1rem;
}

.test {
  height: 2000px;
}

.page-width-container {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  justify-content: center;
}

.priority-container {
  width: 400px;
}

.priority-selector {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.priority-selector:hover {
  scale: 110%;
}

.priority-selected {
  border: 1px solid black;
  background-color: #ddd;
}

.todo-item-drawer {
  height: 600px;
}
